<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Memes API</title>
  </head>
  <body>
    <h1>Memes API</h1>
    <p>An API to get random memes from Reddit!</p>
    <h1>Routes</h1>
    <div class="route">
      <h3>GET /api/memes</h3>
      <b>Parameters:</b>
      <ul>
	<li>
	  <b>count</b>
	  <p>The count of memes to get (Max 20) (Default 5)</p>
	</li>
      </ul>
      <b>Description:</b>
      <p>
	Sends random memes from:
	<ul>
	  <li>r/memes</li>
	  <li>r/dankmemes</li>
	  <li>r/funny</li>
	  <li>r/ComedyCemetery</li>
	  <li>r/wholesomememes</li>
	</ul>
      </p>
    </div>
  </body>
</html>
